page-profile {
    ion-content{
        background: rgba(0, 0, 0, 0.09)!important;
    }
    .background img{
        padding: 0 !important;
        margin: 0 !important;
        margin-top: -7vh !important;
        position: relative;
        width: 100% !important;
    //    display: flex;
        
        filter: drop-shadow(2px 2px 8px black);
        // height: 200px;
        // filter: blur(1px);
        // transform: rotate(-10deg);
    }
    // .setting{
    //     position: absolute;
    // }
    #nav .toolbar-background{
        // background:  linear-gradient(#fb003b,#fa2457, #fa3765, #fa2457, #fb003b) !important;
        background:  linear-gradient(#fb003b) !important;
        box-shadow: 0 !important;
      margin:0;
    }
    #setting{
        color:white;
        margin-left:83vw ;
        z-index: 1 !important;
    }

    .background2 img{
        position: absolute;
        // display: flex;
        margin-top: -55%;
        border-radius:50%;
        width: 45%; 
        z-index: 1;
        margin-left: 28%;
        padding: 0;
        //  linear-gradient(rgba(8, 8, 8, 0.75), rgba(252, 252, 252, 0.89));
        border: 15px solid #fb003b;
        // border: 15px solid rgba(251, 33, 0, 0.644);  
        // border-image-source: linear-gradient( rgb(44, 51, 44), black);
        // border-image-slice: 1;
        // box-shadow: 1px 1px 3px 6px rgba(0, 0, 0, 0.39);
    }
    .background3{
    // z-index: 1;
    position: relative !important;
    margin-top:8px;
    color: rgb(1, 15, 15);
    }
    .background3 #name{
        font-size: 5vw;
        font-weight: 600;
    }
    .background3 #location{
        font-size:4vw;
        font-weight: 500;
       
    }
// friend's sectction

    .background4{
        margin-top: 3.5vh;
        border-top:0.2vh solid rgba(22, 21, 21, 0.3);
        width: 90%;
        border-radius: 0 8px;
        box-shadow: 2px 2px 2px 3px rgba(59, 59, 59, 0.1)
    }
    #right{
        border-right:1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 1px 1px 2px 1px rgba(59, 59, 59, 0.1);
    }
    #left{
        box-shadow: 0px 1px 1px 1px rgba(59, 59, 59, 0.1);
    }
    .background4 a{
        text-decoration: none;
        color:rgb(32, 1, 1);
    }
    #post-no{
        font-size:4vw;
        font-weight: 500;
    }
    #post{
        font-family:  Helvetica,Arial, sans-serif;
        font-size:4.5vw;
        font-weight: bold;
        letter-spacing: 0.3vw;
        color:rgb(19, 41, 102);
    }
    #frnds-no{
        font-size:4vw;
        font-weight: 500;

    }
    #frnds{
        font-family:  Helvetica,Arial, sans-serif;
        font-size:4.5vw;
        font-weight: bold;
        letter-spacing: 0.3vw;
        color:rgb(19, 41, 102);
    }

    .background5{
        margin-top: 20px; 
    }
    .background5 h3{
        padding: 0;
        margin: 0; 
        font-size: 5vw;
        font-weight: 600;
    }
}
